.job-list {
  list-style-type: none;
  padding-right: 5px;
  display: flex;
  align-items: flex-start;
}

.job-container {
  margin-left: 0px;
}

.circle {
  margin-top: 18px;
  color: #64748b;
  height: 23px;
  width: 23px;
  margin-right: 25px;
}

.job-name {
  color: #056dfe;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 500;
}

.website-name {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
}

.salary1 {
  color: rgb(13, 142, 13);
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
}

.salary2 {
  display: none;
}

.location {
  margin-left: 5px;
  color: #64748b;
  font-size: 14px;
  font-family: 'Roboto';
}

.icon {
  color: #64748b;
  height: 15px;
  width: 15px;
}

.location-container {
  display: flex;
}

.location-container1 {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.skill-container {
  display: flex;
  align-items: center;
}

.skill {
  color: #64748b;
  background-color: #ffffff;
  border: solid 1px #bfcada;
  border-radius: 20px;
  font-size: 15px;
  font-family: 'Roboto';
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
}
